<h1>Units#index</h1>

<h1>Units</h1>
<div id="units">
  <% @units.each do |unit| %>
    <div>
    <%= link_to unit.name, unit %>  
    </div>
    <% end %>
</div>

<% if can? :create, Unit %>
  <%= link_to 'New Unit', new_unit_path %>
<% end %>